* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}
 
 /*Mischelanos*/
ol, ul { list-style: none }
a { color: #940033;  text-decoration: none;}

table{
	    font-family: "Trebuchet MS", sans-serif;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 1.4em;
	    font-style: normal;
	    border-collapse:separate;
	    width: 100%;
}

table tbody {
	    padding:10px;
	    text-align:center;
	    background-color: #E6CDCD;
	    border: 2px solid #E7EFE0;
	    -moz-border-radius:2px;
	    -webkit-border-radius:2px;
	    border-radius:2px;
	    color:#666;
	    text-shadow:1px 1px 1px #fff;
	}
	
table thead{
	    padding:15px;
	    color:#fff;
	    text-shadow:1px 1px 1px #568F23;
	    border:1px solid #93CE37;
	    border-bottom:3px solid #9ED929;
	    background-color:#A35D5D;
	    background:-webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0.02, rgb(123,192,67)),
	        color-stop(0.51, rgb(139,198,66)),
	        color-stop(0.87, rgb(158,217,41))
	        );
	    background: -moz-linear-gradient(
	        center bottom,
	        rgb(123,192,67) 2%,
	        rgb(139,198,66) 51%,
	        rgb(158,217,41) 87%
	        );
	    -webkit-border-top-left-radius:5px;
	    -webkit-border-top-right-radius:5px;
	    -moz-border-radius:5px 5px 0px 0px;
	    border-top-left-radius:5px;
	    border-top-right-radius:5px;
	}
 
 
html {
	background-color: #81aeab;

}
body {
    width: 980px; margin: 15px auto;
	background-color:  ;/*#ebe8d9;*/
	/*-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    -webkit-box-shadow: 0 3px 5px 0 #AA4400; -moz-box-shadow: 0 3px 5px 0 #AA4400; box-shadow: 0 3px 5px 0 #AA4400;
	padding: 5px;
	box-shadow:  inset 0 0 15px #AA4400, inset 0 35px 35px -18px lightgray, 0 0 20px #AA4400;*/
}
 
header.mainH {
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px 0 black; -moz-box-shadow: 0 3px 5px 0 black; box-shadow: 0 3px 5px 0 black;
    padding: 5px;
	background-color: ;
    text-align: center;
	text-shadow: 2px 2px 1px #FFFFFF, 2px 2px 5px #888;
	
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACACAMAAAD9J/PGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdQTFRF/Pz8zc3N2traz8/P0NDR0tLS0NDQ9fX1+Pj4//7/9PT04uLi6Ojo39/fzs3NzMzM/f7+3Nzc9fb26uvq6urp4ODh9/f44+Pj+vn519fX29zb19bX1tXV6Onp5OPk2dnY+/r79vX1+vv7+vr6+Pn4+fr6/////v7+0dHR09PT/fz80tPS0dHS/Pv78vPzzs7P/v39zs7O7/Dv/f393t7d8vLx3+Dg2drZ8PDw8fHw5+bn2dnZ7ezt7+/v5eXl5OTl+fn46+vr7u7u6urq1NTV1dXV4ODg2NnY7O3s19fY09TUz87P4eHh09PS9PP0zczM7u7t3Nzd8vLy29va8fHx5uXm5ubm7u7v5OTk1dXU19fW3Nvc5+fn+/v71tbV3d3dz87O7Ovs6Ofn3t7e9vf28/Pz4+Pi7Ozs8O/v9/f31NTT/P399vb3QCtbEwAAAKZJREFUeNokw9NSBQAUQNGV3c22bdu2bdf/P3em9potIWFf0p/8MKjfg20pIT2khg490kK3XZ22fLm0YlWNO1eqVdq0rt60ccnhWJVrhwrdG/EsL4xZU2pHTnhTrs6FeXNOnZly40luqFViWbFFj95tmHFgyblZH4ZMmHRi1JE+r/Zkh4zQqMiPF5/KZIYWCyq0atakwa1e/3X5NmxAQcjSHrf9CjAAht4XiD8Rf/EAAAAASUVORK5CYII=)

    no-repeat;

	-o-background-size: 100% 100%; -webkit-background-size: 100% 100%; -khtml-background-size: 100% 100%; background-size: 100% 100%;
}
 
header h1 {
    font-size: 36px; margin: 0px;
	color: darkblue;
}
 
header h2 {
    font-size: 18px; margin: 0px; color: gray;
    font-style: italic;
}
 
/* Navigation */
nav#global {
	margin: 30px 0 40px;
	width: 100%;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #970000;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
	box-shadow: inset 0 0 15px #900, 0 0 20px #446b6b, inset 0 35px 35px -18px #ca0000;
	-moz-box-shadow: inset 0 0 15px #900, 0 0 20px #446b6b;
	-webkit-box-shadow: 0 0 20px #446b6b;
}
nav#global ul {
	text-align: center;
	height: 40px;
	margin: 0 auto;
	display: table;
}
nav#global ul li { position: relative; display: inline }
nav#global ul li a {
	font-size: 14px;
	display: block;
	float: left;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 25px;
	color: #fff;
}
nav#global ul li a:hover {
	border: none;
	box-shadow: inset 0 0 15px #900, inset 0 -35px 35px -18px #ca0000;
	-moz-box-shadow: inset 0 0 15px #900;
	background-image: -moz-linear-gradient(bottom, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ca0000),color-stop(1, #970000));
}

nav#global ul li #subMenu {
	position: absolute;
	top: 35px;
	left: -387px;
	-moz-transform: translate(0, 11px);
	-webkit-transform: translate(232px, 0);
	background: #970000;
	height: 0;
	z-index: -1;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #444, inset 0 0 15px #900, inset 0 35px 35px -18px #ca0000;
	-moz-box-shadow: 0 0 10px #444, inset 0 0 15px #900;
	-webkit-box-shadow: 0 0 10px #444;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
}
nav#global ul li #subMenu li {
	display: block;
	text-align: center;
	margin: 0 auto;
}
nav#global ul li #subMenu li a {
	height: 0;
	line-height: 0;
	width: 150px;
}
#subMenu li:first-child a {
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
}
#subMenu li:last-child a {
	border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

#about a {
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#about:hover > #subMenu { z-index: 2 }
#about:hover > #subMenu li a { height: 40px; line-height: 40px }

 
 article {
	background: #ebe8d9;
	margin: 0 0 30px 0;
	padding: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10 7px #629996;
	-moz-box-shadow: 0 3 10px #629996;
	-webkit-box-shadow: 0 0 3 10px #629996;
}
 
article > header time {
    font-size: 14px; display: block; width: 26px;
    padding: 2px; text-align: center; background-color: #993333;
    color: #fff; font-weight: bold; -moz-border-radius: 6px;
    -webkit-border-radius: 6px; border-radius: 6px; float: left;
    margin-bottom: 10px;
}
 
article > header time span {
    font-size: 10px; font-weight: normal;
    text-transform: uppercase;
}
 
article > header h1 {
    font-size: 20px; float: left;
    margin-left: 14px; text-shadow: 2px 2px 1px #FFFFFF, 2px 2px 5px #888;
}
 
article > header h1 a {
    color: #993333;
    text-decoration: none;
}
 
article > section header h1 {
    font-size: 16px;
}

article > section{
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    -webkit-box-shadow: 0 3px 5px 0 #AA4400; -moz-box-shadow: 0 3px 5px 0 #AA4400; box-shadow: 0 3px 5px 0 #AA4400;
}
 
article p {
    clear: both;
}
footer {
	height: 25px;

	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACACAMAAAD9J/PGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdQTFRF/Pz8zc3N2traz8/P0NDR0tLS0NDQ9fX1+Pj4//7/9PT04uLi6Ojo39/fzs3NzMzM/f7+3Nzc9fb26uvq6urp4ODh9/f44+Pj+vn519fX29zb19bX1tXV6Onp5OPk2dnY+/r79vX1+vv7+vr6+Pn4+fr6/////v7+0dHR09PT/fz80tPS0dHS/Pv78vPzzs7P/v39zs7O7/Dv/f393t7d8vLx3+Dg2drZ8PDw8fHw5+bn2dnZ7ezt7+/v5eXl5OTl+fn46+vr7u7u6urq1NTV1dXV4ODg2NnY7O3s19fY09TUz87P4eHh09PS9PP0zczM7u7t3Nzd8vLy29va8fHx5uXm5ubm7u7v5OTk1dXU19fW3Nvc5+fn+/v71tbV3d3dz87O7Ovs6Ofn3t7e9vf28/Pz4+Pi7Ozs8O/v9/f31NTT/P399vb3QCtbEwAAAKZJREFUeNokw9NSBQAUQNGV3c22bdu2bdf/P3em9potIWFf0p/8MKjfg20pIT2khg490kK3XZ22fLm0YlWNO1eqVdq0rt60ccnhWJVrhwrdG/EsL4xZU2pHTnhTrs6FeXNOnZly40luqFViWbFFj95tmHFgyblZH4ZMmHRi1JE+r/Zkh4zQqMiPF5/KZIYWCyq0atakwa1e/3X5NmxAQcjSHrf9CjAAht4XiD8Rf/EAAAAASUVORK5CYII=)
    no-repeat;
	-o-background-size: 100% 100%; -webkit-background-size: 100% 100%; -khtml-background-size: 100% 100%; background-size: 100% 100%;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px 0 black; -moz-box-shadow: 0 3px 5px 0 black; box-shadow: 0 3px 5px 0 black;
} 
footer p {
padding: 5px;
    text-align: center; font-size: 12px;
    color: gray; margin-top: 24px;
}
 
/*article > section {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius:6px 0 0 0;
    border-radius: 6px 0 0 0;
    box-shadow: 3px 3px 3px 0 #FFAA88 inset;
    padding: 5px;
    color: red;
    margin-top: 40px;
}*/